@{
    Layout = "_Layout";
}
<body>
	<div id="wrapper">

		<main>
			<div id="content">
				<div class="innertube">
					<div class="imagecropper">
						<img class="profile-picture" src="~/lib/Images/675064.png" alt="Profile Picture">
					</div>
				</div>
				<p>Gijs Jansen</p>
			</div>
		</main>
	</div>
	<div id="mainwrapper1">

		<div id="contentwrapper1">
			<div id="content1">
				<div class="innertube1">
					<h1>Opleidingen</h1>
					<div class="course">
						<div class="course-info">
							<p>ROC Lelystad</p>
							<p>Lelystad</p>
							<p>1990 - 1991</p>
							<p>behaald: ja</p>
						</div>
						<div class="course-description">
							<p class=course-description-content>moet je kijken wat ik allemaal op deze opleiding hebt uitgevoerd en geleerd<p>
						</div>
					</div>
					<div class="course">
						<div class="course-info">
							<p>ROC Lelystad</p>
							<p>Lelystad</p>
							<p>1990 - 1991</p>
							<p>behaald: ja</p>
						</div>
						<div class="course-description">
							<p class=course-description-content>moet je kijken wat ik allemaal op deze opleiding hebt uitgevoerd en geleerd<p>
						</div>
					</div>
					<div class="course">
						<div class="course-info">
							<p>ROC Lelystad</p>
							<p>Lelystad</p>
							<p>1990 - 1991</p>
							<p>behaald: ja</p>
						</div>
						<div class="course-description">
							<p class=course-description-content>moet je kijken wat ik allemaal op deze opleiding hebt uitgevoerd en geleerd<p>
						</div>
					</div>
					<div class="course">
						<div class="course-info">
							<p>ROC Lelystad</p>
							<p>Lelystad</p>
							<p>1990 - 1991</p>
							<p>behaald: ja</p>
						</div>
						<div class="course-description">
							<p class=course-description-content>moet je kijken wat ik allemaal op deze opleiding hebt uitgevoerd en geleerd<p>
						</div>
					</div>
					<div class="course">
						<div class="course-info">
							<p>ROC Lelystad</p>
							<p>Lelystad</p>
							<p>1990 - 1991</p>
							<p>behaald: ja</p>
						</div>
						<div class="course-description">
							<p class=course-description-content>moet je kijken wat ik allemaal op deze opleiding hebt uitgevoerd en geleerd<p>
						</div>
					</div>
				</div>
			</div>
		</div>


		<nav id="rightmenu1">
			<div class="innertube1">
				<h3>Vaardigheden</h3>
				<ul>
					<p>Programmeren</p>
				</ul>
				<h3>Talen</h3>
				<ul>
					<p>Nederlands</p>
					<p>Engels</p>
				</ul>
				<h3>Hobbies</h3>
				<ul>
					<P>bordspellen</P>
					<p>films kijken</p>
				</ul>
			</div>
		</nav>
	</div>
</body>